# Node Environment (development, production, test)
NODE_ENV=development

# Server Configuration
PORT=3000

# Winston Logger Level (error, warn, info, verbose, debug, silly)
LOG_LEVEL=info

# MongoDB Connection URI
MONGO_URI=mongodb://localhost:27017/express-starter-db
